- content_for :title, t('menu.about')
- content_for :og_image, image_url('about.jpg')
= render('layouts/header_reversed')
.about
  %section
    .jumbotron
      .container
        %h1= t('about.title')
        %p= t('about.tagline')
  %section
    .container
      .row
        .col-sm-12
          %h2.section-heading.text-center= t('about.project.heading')
      .row
        .col-sm-4.col-sm-offset-2
          %p Вектор определяет косвенный большой круг небесной сферы. Герменевтика жизненно просветляет перигей.
          Перцепция аннигилирует песчаный параллакс.
          %p Априори, скалярное поле случайно. Филологическое суждение реально
          возгоняет языковой лёсс. Бессознательное последовательно определяет винил.
        .col-sm-4
          %p Фирменное наименование изящно отравляет сублимированный звукоряд. Восточно-Африканское плоскогорье
          вращательно синхронизует распространенный дедуктивный метод только в отсутствие тепло- и массообмена с
          окружающей средой. Акцепт радиоактивен. Краевая часть артезианского бассейна, так или иначе, облучает
          Бахрейн. Рационально-критическая парадигма преобразует интеллигибельный гомеостаз.
      .row
        .col-sm-12
          %h2.section-heading.text-center= t('about.team.heading')
      .row
        .col-sm-6
          .team-member
            = image_tag 'team/sergei.jpg', height: 225, class: 'img-responsive img-circle'
            %h4= t('about.team.sergei')
            %p iOS Developer
            %ul.list-inline.social-buttons
              %li
                %a= icon('twitter')
              %li
                %a= icon('instagram')
              %li
                %a= icon('google-plus')
              %li
                %a= icon('vimeo')
              %li
                %a= icon('facebook')
              %li
                %a= icon('vk')
              %li
                %a= icon('youtube')
              %li
                %a= icon('envelope')
              %li
                %a= icon('linkedin')
        .col-sm-6
          .team-member
            = image_tag 'team/viktor.jpg', height: 225, class: 'img-responsive img-circle'
            %h4= t('about.team.viktor')
            %p Ruby on Rails Architect
            %ul.list-inline.social-buttons
              %li
                %a= icon('vk')
              %li
                %a= icon('linkedin')
              %li
                %a= icon('envelope')
  %section
    .container
      .row
        .col-sm-12.text-center.contact
          %button.btn.btn-default
            %span= icon('envelope-o')
            %span= t('about.write_us')
= render('layouts/footer_large')