- content_for :title, t('play.title')
.content
  = render('layouts/header')
  .container.welcome
    .row
      %h1#roller
    #game-container
      .row.text-center
        #give-up-flag
        .your-code
          = t('play.game.your_code')
          %span#your-code
        .timer
          %span.mins 00
          %span :
          %span.secs 00
      .row.messages-container
        .turn.text-center{'data-yours': 1}= t('play.game.your_turn')
        .turn.text-center{'data-yours': 0}= t('play.game.opponents_turn')
      .row.code-input-container.text-center
        %form#input-code
          %input{:type => 'text', :maxlength => '1'}
          %input{:type => 'text', :maxlength => '1'}
          %input{:type => 'text', :maxlength => '1'}
          %input{:type => 'text', :maxlength => '1'}
          .send{:onclick => 'makeTurn()'}
    .row.menu
      #give-up-container
        %p.text-center= t('play.give_up.are_you_sure')
        %button.btn-danger#give-up= t('play.give_up.give_up')
        %button#continue= t('play.give_up.continue')
      %ul
        %li
          = link_to t('play.instant_game'), '', 'onclick' => 'return false', :id => 'play-button'
        %li
          = link_to t('play.download'), download_path
      .loading-container
        .text-center
          %p= t('play.searching_for_players')
          .spinner
            .bounce1
            .bounce2
            .bounce3
          %button#stop-search{:class => 'btn btn-danger'}= t('play.cancel')
      #set-code-container.text-center
        %p= t('play.set_code.msg')
        %form#set-code
          %input{:type => 'text', :maxlength => '1'}
          %input{:type => 'text', :maxlength => '1'}
          %input{:type => 'text', :maxlength => '1'}
          %input{:type => 'text', :maxlength => '1'}
        .set-code-buttons
          %button{:onclick => 'generateRandomCode();'}= t('play.set_code.random')
          %button{:onclick => 'setCode();'}= t('play.set_code.submit')
      #waiting-for-opponent-container.text-center
        %p= t('play.set_code.waiting_for_opponent')
  #end-game-modal.text-center
    .end-game-title
    .end-game-message
    .close-btn= t('play.restart')
  = render('layouts/banner')
= render('layouts/footer_small')
:javascript
  App.createChannel();
  $(document).ready(function() {
    var elt         = document.getElementById("roller");
    var texts       = ["AAAAAA", "CRYPTO"];
    elt.textroller  = new TextRoller({
      el: elt,
      values: texts,    // an array of texts.     default : [el.innerHtml]
      align: "right",
      theme: 'default',
      loop: false,     // at the end, restart.   default : true
      delay: 0
    });
  })
  $('#play-button').click(function() { startSeek() });
  $('#stop-search').click(function() { stopSeek() })
