-#%p
-#  %i Примечание: я пока не делал валидацию
-##messages
-#%div
-#  %p Загадать код
-#  %input{:type => 'text', :id => 'code_field'}
-#  %input{:type => 'submit', :id => 'code_submit'}
-#%div
-#  %p Играт  ь (пока не поиграть)
-#  %input{:type => 'text', :id => 'guess_field'}
-#  %input{:type => 'submit', :id => 'guess_submit'}
-##player_turns
-##opponent_turns'
- content_for :title, t('play.title')
.content
  = render('layouts/header')
  .container.welcome
    .row
      %h1#roller
    .row.menu
      %ul
        %li
          = link_to t('play.instant_game'), '', 'onclick' => 'return false', :id => 'play-button'
        %li
          = link_to t('play.my_game'), download_path
        %li
          = link_to t('play.download'), download_path
      .loading-container
        .text-center
          %p= t('play.searching_for_players')
          .spinner
            .bounce1
            .bounce2
            .bounce3
          %button#stop-search{:class => 'btn btn-danger'}= t('cancel')
      #set-code-container

:javascript
  App.createChannel();
  $(document).ready(function() {
    var elt         = document.getElementById("roller");
    var texts       = ["AAAAAA", "CRYPTO"];
    elt.textroller  = new TextRoller({
      el: elt,
      values: texts,    // an array of texts.     default : [el.innerHtml]
      align: "right",
      theme: 'default',
      loop: false,     // at the end, restart.   default : true
      delay: 0
    });
  })
  $('#play-button').click(function() { startSeek() });
  $('#stop-search').click(function() { stopSeek() })
