!!!
%html{:prefix => 'og: http://ogp.me/ns#', :lang => @lang}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= "#{yield(:title)} CRYPTO"
    %meta{:property => 'og:title', :content => "#{yield(:title)} CRYPTO"}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:url', :content => @url}
    - if content_for?(:og_image)
      %meta{:property => 'og:image', :content => yield(:og_image)}
    - else
      %meta{:property => 'og:image', :content => image_url('disk24.png')}
    %meta{:property => 'og:description', :content => t('download.block_1.p_1')}
    %meta{:property => 'og:locale', :content => @lang}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter40097755 = new Ya.Metrika({
              id:40097755,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true,
              trackHash:true
            });
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  %noscript <div><img src="https://mc.yandex.ru/watch/40097755" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  %body
    = yield
    :javascript
      $("#players-online").html(localStorage.getItem('players_online'));
