!!!
%html{:prefix => 'og: http://ogp.me/ns#', :lang => @lang}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= "#{yield(:title)} CRYPTO"
    %meta{:property => 'og:title', :content => "#{yield(:title)} SerVik"}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:url', :content => @url}
    %meta{:property => 'og:image', :content => ''}
    %meta{:property => 'og:description', :content => t('meta.description')}
    %meta{:property => 'og:locale', :content => @lang}
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:rel => 'stylesheet', :href => 'https://fonts.googleapis.com/icon?family=Material+Icons'}
  %body
    .content
      %header
        %nav.navbar
          .container-fluid
            .navbar-header
              = link_to root_path, :class => 'navbar-brand' do
                %span.mdl-layout__title CRYPTO
            .navbar-collapse.collapse
              %ul.nav.navbar-nav
                %li
                  = link_to t('menu.about'), about_path, :class => 'mdl-navigation__link'
                  = link_to t('menu.download'), download_path, :class => 'mdl-navigation__link'
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to 'EN', {:locale => :en}, :class => 'mdl-navigation__link'
                %li
                  = link_to 'RU', {:locale => :ru}, :class => 'mdl-navigation__link'
      = yield
    %footer
      .container-fluid
        .row
          .col-sm-6
            .footer-menu
              %span= "© #{Date.today.year} BlackBuild"
              = link_to t('menu.about'), about_path, :class => 'mdl-navigation__link'
          .col-sm-6.text-right
            %p.players
              #{t('players_online')}:
              %span#players-online
            :javascript
              $("#players-online").html(localStorage.getItem('players_online'));
